html, body {
    background-color: #fffbf2;
    color: black;
    font-family: helvetica, arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    padding:6px;
  }

  table {
    border-collapse: collapse;
    border-radius: 10px;
  }